@import "./variables.scss";

.banner {
	background-image: url(../assets/image/bank-tree.jpeg);
	background-position: 0% 33%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	width: 100%;
	position: relative;

	& .overlay {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 300px;
		background-color: $light-color;
		padding: 2rem;

		& p {
			margin-top: 19px;
		}
	}
}
