@import "./variables.scss";
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 64px;
	padding: 5px 20px;
	& .user {
		margin-right: 8px;
	}
}
@include devices(mobile) {
	.header {
		& .right-header {
			display: flex;
			flex-direction: column-reverse;
			& .user {
				text-align: right;
			}
		}
	}
}
