@import "./animation.scss";
// colors
$primary-color: #2c3e50;
$secondary-color: #222222;
$third-color: #00bc77;
$light-color: white;
$dark-color: #12002b;
$font-family: Avenir, Helvetica, Arial, sans-serif;
// animate wrong input format
.animation {
	animation: shake 0.4s ease-in-out 0s 2;
	color: #ff9494;
	border: 2px solid #ff9494;
	border-radius: 5px;
}
// media queries
@mixin devices($breakpoint) {
	@if $breakpoint == mobile {
		@media only screen and (max-width: 920px) {
			@content;
		}
	}
}
